<div>
<h1>Player vs Player!</h1>
  <p>
    <p>
      <h2>Enter player names</h2>
      <form action="/game" method="post">
        <p>Player 1:  <input type="text" name="player_1_name"></p>
        <p>Player 2:  <input type="text" name="player_2_name"></p>
        <p> <input type="submit" value="Start">
      </form>
</div>
