<div>
  <%= @player_1%>, Hit points: <%= @player_1_HP %>
    <p>
    vs.
    <p>
    <%= @player_2%>, Hit points: <%= @player_2_HP %>
</div>
<p>
<form action="/attack" method="post">
  <input type="submit" name="player_1_attack" value="Attack Player 1">
</form>
<p>
<p>
<form action="/attack" method="post">
  <input type="submit" name="player_2_attack" value="Attack Player 2">
</form>
