<h1>It's time to BATTLE!</h1>
  <p>
    <p>
      <form action="/player-select" method="post">
        <p>
          <label for="Mode">Number of players:  </label>
            <select name="Mode">
              <option value="1">1</option>
              <option value="2">2</option>
            </select>
        </p>

        <p> <input type="submit" value="Start">
      </form>
