<h1>It's time to BATTLE!</h1>
<p>
<p>
<h2>Enter player names</h2>
<form action="/game" method="post">
  Player 1:  <input type="text" name="player_1">
  <p>
  Player 2:  <input type="text" name="player_2">
  <p>
  <input type="submit" value="Start">
</form>
